USE [master]
GO
/****** Object:  Database [QLSVien]    Script Date: 11/4/2018 12:22:29 AM ******/
CREATE DATABASE [QLSVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.KUDOSQL\MSSQL\DATA\QLSVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.KUDOSQL\MSSQL\DATA\QLSVien_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVien]
GO
/****** Object:  Table [dbo].[DKIEN]    Script Date: 11/4/2018 12:22:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKIEN](
	[MAMH] [varchar](8) NOT NULL,
	[MAMH_TRUOC] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAMH_TRUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HPHAN]    Script Date: 11/4/2018 12:22:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPHAN](
	[MAHP] [int] NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[HOCKI] [int] NULL,
	[NAM] [int] NULL,
	[GV] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/4/2018 12:22:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[NAMTHANHLAP] [int] NULL,
 CONSTRAINT [PK__KHOA__22F417702F4B0D63] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KQUA]    Script Date: 11/4/2018 12:22:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQUA](
	[MASV] [int] NOT NULL,
	[MAHP] [int] NOT NULL,
	[DIEM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MHOC]    Script Date: 11/4/2018 12:22:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MHOC](
	[TENMH] [varchar](30) NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[TINCHI] [int] NULL,
	[MAKH] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SVIEN]    Script Date: 11/4/2018 12:22:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVIEN](
	[TEN] [nvarchar](50) NOT NULL,
	[MASV] [int] NOT NULL,
	[NAM] [int] NULL,
	[MAKH] [varchar](4) NOT NULL,
 CONSTRAINT [PK__SVIEN__60228A287A4386AE] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'BIZ', N'Quản trị kinh doanh', 2005)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'EN', N'Ngôn ngữ Anh', 1998)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'GD', N'Thiết kế đồ họa', 2000)
INSERT [dbo].[SVIEN] ([TEN], [MASV], [NAM], [MAKH]) VALUES (N'Nguyễn Văn Cường', 1, 1, N'SE')
INSERT [dbo].[SVIEN] ([TEN], [MASV], [NAM], [MAKH]) VALUES (N'Trần Thị Thanh Hằng', 2, 2, N'SE')
INSERT [dbo].[SVIEN] ([TEN], [MASV], [NAM], [MAKH]) VALUES (N'Trần Trung Hiếu', 3, 3, N'IA')
GO
ALTER TABLE [dbo].[DKIEN]  WITH CHECK ADD  CONSTRAINT [FK_DKIEN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DKIEN] CHECK CONSTRAINT [FK_DKIEN_MAMH]
GO
ALTER TABLE [dbo].[HPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HPHAN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[HPHAN] CHECK CONSTRAINT [FK_HPHAN_MAMH]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MAHP] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MAHP]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MASV] FOREIGN KEY([MASV])
REFERENCES [dbo].[SVIEN] ([MASV])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MASV]
GO
ALTER TABLE [dbo].[MHOC]  WITH CHECK ADD  CONSTRAINT [FK_MHOC_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MHOC] CHECK CONSTRAINT [FK_MHOC_MAKH]
GO
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SVIEN_MAKHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [FK_SVIEN_MAKHOA]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [CK__SVIEN__NAM__398D8EEE] CHECK  (([NAM]>=(1) AND [NAM]<=(4)))
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [CK__SVIEN__NAM__398D8EEE]
GO
USE [master]
GO
